:root {
  --text-color: #1f1e1e;
  --main-color: #2196f3;
  --secondary-color: #1c75be;
  --accent-color: #0079eb;
  --light-blue: #97d0ff;
  --grey-color: #f1f1f1;
  --white-color: white;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  color: var(--text-color);
}

#container {
  display: flex;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  max-width: 100%;
  overflow: hidden;
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 100px;
  border-right: var(--grey-color) solid 1px;
}

.sidebar button {
  width: 100%;
  min-height: 80px;
  background: var(--white-color);
  border: none;
  border-left: 5px solid var(--white-color);
  border-bottom: 1px solid var(--grey-color);
  outline: none;
  cursor: pointer;
  transition: 0.2s;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #1f1e1e;
}

.sidebar button:hover {
  background: var(--grey-color);
  border-left: 5px solid var(--accent-color);
}

.sidebar button.active {
  background: var(--light-blue);
  border-left: 5px solid var(--accent-color);
}

.tools {
  border-right: var(--grey-color) solid 1px;
}

.sidebar .tools .settings-button {
  position: absolute;
  bottom: 0;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: none;
}

.settings-icon svg {
  color: var(--text-color);
  stroke-width: 2px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

#service-list {
  display: flex;
  flex-direction: column;
}

.settings-service {
  display: inline-flex;
  align-items: center;
}

.settings-service p {
  text-transform: capitalize;
  width: 355px;
}

.slack-service-list {
  display: inline-flex;
  align-items: center;
}

.slack-service-list p {
  width: 325px;
}

.content {
  position: relative;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.chat-window {
  display: flex;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  visibility: hidden;
}

.chat-window.active {
  z-index: 1;
  visibility: visible;
}

.window-draggable {
  height: 35px;
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 9999;
  -webkit-app-region: drag;
}

#settings {
  margin: 0.5rem 1rem;
  overflow: scroll;
  max-width: 100%;
}
